body {
  width: 90%;
}


form {
  margin: 0 auto;
  width: 80%;
  background-color: #444;
  color: #fff;
  font-family: helvetica,sans-serif;
  font-size: 0.5em;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 2em 3em;
  overflow: auto;
  padding-left: 5em;
}

form div + div {
  margin-top: 2em;
}

label {
  display: inline-block;
  text-align: left;
  width: 90%;
}

section {
  display: block;
  float: left;
  width: 33%;
}

@media (max-width: 650px){
  section{
    width:90%;
    margin-top: 1em;
  }

}

input, textarea, select {
  font: 0.7em;
  color: #fff;
  background-color: #444;
  width: 90%;
  box-sizing: border-box;
  border: 1px solid #fff;
  padding: 0.5em 0.2em;
}

input {
  height: 2em;
  vertical-align: middle;
}

textarea {
  vertical-align: top;
  height: 8em;
  overflow: auto;
}

input:focus, textarea:focus {
  border-color: #666;
}

option {
  color: #fff;
  padding: 0.5em;

}
